@model BlogManagement.DAL.Entities.Account


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>Trang ca nhan</h1>
<div class="col-md-2" style="border:1px solid;border-color:cornflowerblue; top: 60px;">
    @Html.Action("NavLeftPartial", "Home")
</div>
<div class="box">
    <div class="item">
        <div class="image">
            <a style="padding: 0 3px;" data-toggle="modal" data-target="#modalUpdate">
                <span><img class="img-user" src="@Url.Content("~/Images/"+Model.Image)" width="200" height="200" /></span>
            </a>
            <div class="modal fade" id="modalUpdate" role="dialog">
                <div class="modal-dialog modal-body">
                    <div class="modal-content">
                        @using (Html.BeginForm("Thaydoianh", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Chọn ảnh </h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.AccountId)



                                @Html.HiddenFor(model => model.UserName)

                                @Html.HiddenFor(model => model.Email)
                                @Html.HiddenFor(model => model.Image)

                                @Html.HiddenFor(model => model.PassWord)



                                <div class="form-group">
                                    @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input type="file" name="updateFile">
                                        @*Thông báo trùng*@
                                        @ViewBag.HinhAnh
                                    </div>
                                </div>


                                @Html.HiddenFor(model => model.isAdmin)


                                @Html.HiddenFor(model => model.EmailConfirmed)

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="Thaydoianh">
            <a>
                <a style="padding: 0 3px;" data-toggle="modal" data-target="#modalUpdate1">
                    <span>Thay đổi ảnh</span>
                </a>
                <div class="modal fade" id="modalUpdate1" role="dialog">
                    <div class="modal-dialog modal-body">
                        <div class="modal-content">
                            @using (Html.BeginForm("Thaydoianh", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Chọn ảnh</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.AccountId)



                                    @Html.HiddenFor(model => model.UserName)

                                    @Html.HiddenFor(model => model.Email)
                                    @Html.HiddenFor(model => model.Image)

                                    @Html.HiddenFor(model => model.PassWord)



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="file" name="updateFile">
                                            @*Thông báo trùng*@
                                            @ViewBag.HinhAnh
                                        </div>
                                    </div>


                                    @Html.HiddenFor(model => model.isAdmin)


                                    @Html.HiddenFor(model => model.EmailConfirmed)

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>


                            }
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>


                        </div>
                    </div>
                </div>
        </div>

    </div>



    <div class="name">

        <a href="@Url.Action("IndexGT","User")">@Url.Content(Model.UserName)</a>
        <a class="gioithieu">@Html.ActionLink("Giới thiệu", "IndexGT", "User")</a>
        <a>
            <a style="padding: 0 3px;" data-toggle="modal" data-target="#modalUpdate9">
                <input type="submit" name="submit" value="Thay đổi thông tin" />
            </a>
        </a>
        <div class="modal fade" id="modalUpdate9" role="dialog">
            <div class="modal-dialog modal-body">
                <div class="modal-content">
                    @using (Html.BeginForm("ChinhSua", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Chỉnh sửa hồ sơ</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.AccountId)


                            <div class="form-group">

                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.Image)

                            @Html.HiddenFor(model => model.PassWord)



                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" name="updateFile">
                                    @*Thông báo trùng*@
                                    @ViewBag.HinhAnh
                                </div>
                            </div>


                            @Html.HiddenFor(model => model.isAdmin)


                            @Html.HiddenFor(model => model.EmailConfirmed)

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    }
                </div>
            </div>
        </div>
        @*<input type="submit" name="submit" value="Chỉnh sửa" onclick="location.href='@Url.Action("ChinhSua", "User", new { @ID = Model.AccountId })'" />*@


    </div>


    <div class="email">

        <span>@Model.Email</span>


    </div>







</div>


<style>
    .img-user {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .box {
        width: 1100px;
        height: 400px;
        border: 1px solid #b6c0c9;
        margin-left: 330px;
        margin-top: 80px;
        background-image: url('../../Images/Penguins.jpg');
    }

    .item {
        width: 200px;
        height: 200px;
        margin: 140px 0px 0px 10px;
        text-align: center;
    }

    .image {
        width: 200px;
        height: 200px;
        margin: 5px auto;
        text-align: center;
        border: 2px #808080;
    }

        .image img {
            max-width: 200px;
            max-height: 200px;
            border: 0
        }

            .image img:hover {
                border: 1px solid #b6c0c9
            }

    .item a {
        color: #fff;
        font-size: 15px
    }

        .item a:hover {
            color: #fff
        }

    .image p:hover {
        border: 1px solid #fff
    }


    .name {
        margin: 0px 0px 0px 220px;
        font-size: 20px;
        color: #fff
    }

    .email {
        margin: 0px 0px 0px 220px;
        font-size: 15px;
        color: #fff
    }

    .gioithieu {
        margin: 0px 0px 0px 500px;
        font-size: 20px;
        color: #fff
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


