<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="~/Content/Style.css" rel="stylesheet" />

    <script src="~/Content/Login.js"></script>

    <script src="~/Content/Register.js"></script>
    @RenderSection("quan", false)
</head>
<body style="background-color:#f4f3f8">

    <div class="navbar-fixed-top">
        @Html.Action("navPartial", "Home")
    </div>
    
    <div>
        @if (User.Identity.IsAuthenticated == true)
        {
            @Html.Action("CreatePostPartial", "Home")
        }
        else
        {
            <h2 class="message-login" style="position: relative; top: 60px; margin-left: 26.6%;">@Html.ActionLink("Đăng nhập", "Login", "Account") để tạo bài viết!</h2>
        }

        @RenderBody()
    </div>
</body>
</html>
