
@{
    ViewBag.Title = "TimeLine";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<BlogManagement.Models.PostModel>

<style>
    .img-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .div-img-user {
        padding: 2px;
        text-align: center;
    }

    .div-content-user {
        padding: 2px;
    }

    .cmt {
        vertical-align: middle;
    }

    .user-cmt {
        display: flex;
    }

    .div-img-user-cmt {
        padding-left: 10px;
        text-align: center;
    }

        .div-img-user-cmt > img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

    .div-right-user-cmt {
        padding-left: 5px;
    }

        .div-right-user-cmt > p {
            padding-top: 5px;
        }

    .div-input-cmt {
        padding: 5px;
    }

    .space-post {
        border: 2px solid blue;
    }
</style>
<div class="col-md-2" style="border:1px solid;border-color:cornflowerblue; top: 60px;">
    @Html.Action("NavLeftPartial", "Home")
</div>
<div class="col-md-9" style="top: 60px;">
    @foreach (var item in Model)
    {
        <div style="background-color: aliceblue;" class="col-md-10" id="@item.PostId">
            <div class="col-md-1 div-img-user">
                <img class="img-user" src="~/Images/@item.AccountImage" />
            </div>
            <div class="col-md-11 div-content-user">
                <div style="display: flex;">
                    <p style="width: 95%;">
                        @Html.ActionLink(item.UserName, "ShowPost", "Home", new { accountId = item.AccountId }, null)
                        <span class="glyphicon glyphicon-play"></span><a href="/Post/Category?idCate=@item.CategoryId">@item.CategoryName</a>
                        @if (ViewBag.user != null)
                        {
                            if (@ViewBag.user.UserName == item.UserName)
                            {
                                <a href="/Home/UpdatePost?idPost=@item.PostId" data-toggle="modal" data-target="#modalUpdate">Sửa</a>
                            }
                        }
                    </p>
                    @if (ViewBag.user != null)
                    {
                        if (ViewBag.user.isAdmin || ViewBag.user.AccountId == item.AccountId)
                        {
                            <p style="width: 5%;"><a data-toggle="modal" data-target="#removePost"><span class="glyphicon glyphicon-remove"></span></a></p>
                            <div class="modal fade" id="removePost" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title text-info">Xóa bài viết này?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="location.href='@Url.Action("removePost", "Post", new { postId = item.PostId })'">Xóa</button>
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Trở về</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <p>@item.DatePost</p>
            </div>
            <div>
                @item.Content
            </div>
            @if (item.Image != null)
            {
                <div>
                    <img style="height: 300px;" src="~/Images/@item.Image" alt="Image" />
                </div>
            }
            <div class="div-input-cmt">
                <textarea class="cmt content-comment-@item.PostId" cols="80" rows="2" placeholder="Bình luận...." id="input-comment"></textarea>
                <button class="btn btn-info cmt" id="btnComment" onclick="Comment(@item.PostId);" value="@item.PostId">Bình luận</button>
            </div>
            @if (ViewBag.lstComment != null)
            {
                foreach (var cmt in ViewBag.lstComment[item.PostId])
                {
                    <div class="div-comment">
                        <div class="row user-cmt">
                            <div class="div-img-user-cmt">
                                <img src="~/Images/@cmt.AccountImage" />
                            </div>
                            <div class="div-right-user-cmt" style="display: flex;">
                                <p style="width: 95%;">@cmt.UserName</p>
                                @if (ViewBag.user != null)
                                {
                                    if (ViewBag.user.AccountId == cmt.AccountId || ViewBag.user.AccountId == item.AccountId)
                                    {
                                        <p style="width: 5%;"><a data-toggle="modal" data-target="#removeComment"><span class="glyphicon glyphicon-remove"></span></a></p>
                                        <div class="modal fade" id="removeComment" role="dialog">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h3 class="modal-title text-info">Xóa bình luận này?</h3>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="location.href='@Url.Action("removeComment", "Comment", new { commentId = cmt.CommentId })'">Xóa</button>
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">Trở về</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <p>@cmt.Content</p>
                    </div>
                }
            }
            <br class="space-post" />
            <hr class="space-post" />
            <br class="space-post" />
        </div>
    }

    <!-- Modal -->
    <div class="modal fade" id="modalUpdate" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>
@Html.PagedListPager(Model, page => Url.Action("ShowPost", new { page }))
<style>
    .modal-body {
        height: 350px;
        position: relative;
        padding: 15px;
    }
</style>


<script>

    function Comment(id) {
        $.ajax({
            url: "/Comment/Comment",
            type: "POST",
            dataType: "json",
            data: { PostId: id, Content: $(".content-comment-" + id).val() },
            success: function (data) {
                RemoveComment();
                AddComment(data);
                clearComment();
            },
            error: function () {
                alert("false");
            }
        });
    }

    function RemoveComment() {
        $(".div-comment").remove();
    }

    function clearComment() {
        $("#input-comment").text("");
    }

    function AddComment(data) {
        for (var i = 0; i < data.length; i++) {
            var add = '<div class="div-comment">' +
                '<div class="row user-cmt">' +
                '<div class="div-img-user-cmt">' +
                '<img src="/Images/' + data[i].AccountImage + '" />' +
                '</div>' +
                '<div class="div-right-user-cmt">' +
                '<p>' + data[i].UserName + '</p>' +
                '</div>' +
                '</div>' +
                '<p>' + data[i].Content + '</p>' +
                '</div>';

            $(".div-input-cmt").after(add);
        }
    }

    //function DeletePost(id) {
    //    $.ajax({
    //        url: "/Post/removePost",
    //        type: "post",
    //        data: { postId: id },
    //        success: function () {
    //            alert("ok");
    //        },
    //        error: function () {
    //            alert(false);
    //        }
    //    });
    //}

</script>




