
@{
    ViewBag.Title = "TimeLine";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<BlogManagement.Models.PostModel>

<style>
    .img-user {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .div-img-user {
        padding: 2px;
        text-align: center;
    }

    .div-content-user {
        padding: 2px;
    }

    .cmt {
        vertical-align: middle;
    }

    .user-cmt {
        display: flex;
    }

    .div-img-user-cmt {
        padding-left: 10px;
        text-align: center;
    }

        .div-img-user-cmt > img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

    .div-right-user-cmt {
        padding-left: 5px;
    }

        .div-right-user-cmt > p {
            padding-top: 5px;
        }

    .div-input-cmt {
        padding: 5px;
    }

    .space-post {
        border: 2px solid blue;
    }
</style>

<div>
    @foreach (var item in Model)
    {
        <div style="background-color: aliceblue" class="col-md-10">
            <div class="col-md-1 div-img-user">
                <img class="img-user" src="~/Images/user_default.png" />
            </div>
            <div class="col-md-11 div-content-user">
                <p>
                    <a href="/Profile/Timeline?id=@item.AccountId">@item.UserName</a>
                    <span class="glyphicon glyphicon-play"></span><a href="/Post/Category?idCate=@item.CategoryId">@item.CategoryName</a>
                </p>
                <p>@item.DatePost</p>
            </div>
            <div>
                @item.Content
            </div>
            @if (item.Image != null)
            {
                <div>
                    <img style="height: 300px;" src="~/Images/@item.Image" alt="Image" />
                </div>
            }
            <div class="div-input-cmt">
                <textarea class="cmt" cols="80" rows="2" placeholder="Bình luận...."></textarea>
                <button class="btn btn-info cmt">Bình luận</button>
            </div>
            @if (ViewBag.lstComment != null)
            {
                foreach (var cmt in ViewBag.lstComment[item.PostId])
                {
                    <div>
                        <div class="row user-cmt">
                            <div class="div-img-user-cmt">
                                <img src="~/Images/@item.AccountImage" />
                            </div>
                            <div class="div-right-user-cmt">
                                <p>@cmt.UserName</p>
                            </div>
                        </div>
                        <p>@cmt.Content</p>
                    </div>
                }
            }
            <br class="space-post" />
            <hr class="space-post" />
            <br class="space-post" />
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("Timeline", new { page }))
